# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/

# Datos (ignorar archivos pesados pero NO data/raw completo)
# Ignora solo tipos típicos de gran tamaño o derivados
*.csv.zip
*.parquet
*.feather
data/**/*.tmp

# SI quieres ignorar processed porque suele ser derivado
data/processed/

# SI quieres versionar CSVs livianos del proyecto:
# NO ignores data/raw/

# SO
.DS_Store
Thumbs.db

